.layout {
    display: flex;
    align-items: center;
    width:100%;
    height: 100vh;
}

.contents {
    box-sizing: border-box;
    width: 80%;
    height: 400px;
    padding: 10px;
    margin:0 auto;
    border: 1px solid black;
}

.tabBox {
    display: flex;
    align-items: center;
}

.tabBox a {
    box-sizing: border-box;
    width: 50%;
    padding: 10px;
    text-align: center;
    border: 1px solid #3a3776cc;
    margin-bottom: 10px;
    cursor: pointer;
}

.on {
    background-color: darkcyan;
}

.listBox {
    box-sizing: border-box;
    width:100%;
    height: 330px;
    border: 1px solid red;
}

.numBox {
    box-sizing: border-box;
    width: 100px;
    padding: 10px 0;
    border:3px solid green;
    margin: 0 auto;
    text-align: center;
    margin-top: 70px;
    font-weight: bold;
}

.counterBox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.counterBox div {
    width: 30%;
    margin-top: 40px;
    text-align: center;
    border: 1px solid rgb(36, 14, 77);
    cursor: pointer;
    padding: 10px;
    font-size: 30px;
}

.counterBox div:first-child {
    margin-right: 10px;
}

.inputBox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.inputBox input {
    width: 30%;
    margin-top: 10px;
    text-align: center;
    border: 1px solid rgb(36, 14, 77);
    cursor: pointer;
    padding: 10px;
    font-size: 30px;
}

.inputBox input:first-child {
    margin-right: 10px;
}
